NET "clk" LOC = P94;
NET "resetb" LOC = P47;
NET "txd" LOC = P105;
NET "rxd" LOC = P101;
NET "led" LOC = P112;
NET "gpio_o[0]" LOC = P123;
NET "gpio_o[1]" LOC = P124;
NET "gpio_o[2]" LOC = P126;
NET "gpio_o[3]" LOC = P127;
NET "gpio_o[4]" LOC = P131;
NET "gpio_o[5]" LOC = P132;
NET "gpio_o[6]" LOC = P133;
NET "gpio_o[7]" LOC = P134;
NET "gpio_i[0]" LOC = P114;
NET "gpio_i[1]" LOC = P115;
NET "gpio_i[2]" LOC = P116;
NET "gpio_i[3]" LOC = P117;
NET "gpio_i[4]" LOC = P118;
NET "gpio_i[5]" LOC = P119;
NET "gpio_i[6]" LOC = P120;
NET "gpio_i[7]" LOC = P121;
NET "clk" IOSTANDARD = LVCMOS33;
NET "resetb" IOSTANDARD = LVCMOS33;
NET "resetb" PULLUP;
NET "txd" IOSTANDARD = LVCMOS33;
NET "rxd" IOSTANDARD = LVCMOS33;
NET "led" IOSTANDARD = LVCMOS33;
NET "gpio_i[7]" IOSTANDARD = LVCMOS33;
NET "gpio_i[6]" IOSTANDARD = LVCMOS33;
NET "gpio_i[5]" IOSTANDARD = LVCMOS33;
NET "gpio_i[4]" IOSTANDARD = LVCMOS33;
NET "gpio_i[3]" IOSTANDARD = LVCMOS33;
NET "gpio_i[2]" IOSTANDARD = LVCMOS33;
NET "gpio_i[1]" IOSTANDARD = LVCMOS33;
NET "gpio_i[0]" IOSTANDARD = LVCMOS33;
NET "gpio_o[7]" IOSTANDARD = LVCMOS33;
NET "gpio_o[6]" IOSTANDARD = LVCMOS33;
NET "gpio_o[5]" IOSTANDARD = LVCMOS33;
NET "gpio_o[4]" IOSTANDARD = LVCMOS33;
NET "gpio_o[3]" IOSTANDARD = LVCMOS33;
NET "gpio_o[2]" IOSTANDARD = LVCMOS33;
NET "gpio_o[1]" IOSTANDARD = LVCMOS33;
NET "gpio_o[0]" IOSTANDARD = LVCMOS33;

